<% if !user_signed_in? %>
  <div class="jumbotron" >
    <h1>Welcome to Critcal Hit!</h1>
    <p>Crit Hit is a movie review site of all that is Nerd culture. Its a 5 star rating system, 1 being "Not Very Effective" and 5 being "Very Effective!". Start reviewing today's Nerd Culture.</p>
    <p><%= link_to "Sign Up To Get Critcal!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>